# Ignore virtual environment directories and files
Lib/
Scripts/
share/
tests/
__pycache__/
*.pyc
*.env
test_*/

# Ignore test scripts
test_*.py

# Ignore test output files
test_*.html
test_*.pdf
test_*.csv
test_*.json
test_*.txt
